@import "@fontsource/quicksand/700.css";

@import "@fontsource/source-sans-pro/400.css";
@import "@fontsource/source-sans-pro/600.css";
@import "@fontsource/source-sans-pro/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        overflow-x: hidden;
    }
    main {
        @apply max-w-[1647px] mx-auto;
    }
    h1 {
      @apply text-[32px] lg:text-[64px] text-center lg:text-left leading-tight font-bold;
    }
    h2 {
      @apply text-[24px] lg:text-[36px] font-extrabold tracking-tight;
    }
    h3 {
      @apply text-[20px] lg:text-[24px]  font-bold tracking-tight;
    }
    h4 {
        @apply text-2xl short:text-2xl md:text-3xl font-semibold tracking-tight;
    }
    html {
        scroll-behavior: smooth;
    }
    section {
      @apply snap-y scroll-mt-12 flex flex-col gap-4 px-5 lg:px-10 py-8 lg:py-20 ;
    }
}

@layer utilities {
    .parked-left {
        @apply transition-all opacity-0 transform translate-x-[-100vw] duration-500 ease-in-out;
    }
    .parked-right {
        @apply transition-all opacity-0 transform translate-x-[100vw] duration-500 ease-in-out;
    }
    .flyin {
        @apply opacity-100 translate-x-0;
    }
    .fadein {
        @apply transition-opacity opacity-100 translate-x-0;
    }
}

@layer components {
    a {
        @apply hover:underline;
    }

    .navlink {
        @apply hover:no-underline font-normal leading-none shrink-0;
    }
    
    .navlink.active {
        @apply font-bold text-brand;
    }

    .button {
        @apply inline-block px-[50px] py-3.5 lg:py-[17px] leading-none rounded-full w-fit;
        @apply flex justify-center shrink-0 w-fit;
        @apply hover:no-underline;
        @apply transition-colors enabled:hover:bg-white/25;
        @apply uppercase font-semibold;
        appearance: button;
    }

    .button.blue.contained {
        @apply border-2 border-brand text-brand;
        @apply bg-brand text-white;
        @apply enabled:hover:bg-brand;
    }

    .button.blue.outlined {
        @apply bg-transparent border-2 border-brand text-brand;
        @apply enabled:hover:bg-brand;
    }

    .button:disabled {
        @apply bg-gray-200;
    }

    .button.large {
        @apply text-lg lg:text-xl lg:px-[60px];
    }
 
    .button.icon {
        @apply p-0 h-12 w-12 flex rounded-full justify-center items-center;
    }

    .button.blue {
        @apply bg-brand text-white;
        @apply enabled:hover:bg-brand;
    }

    .button.ghost {
        @apply bg-white/30;
        @apply transition-colors hover:bg-white/40;
    }

    .hero-h2 {
        @apply text-2xl short:text-2xl md:text-4xl short:leading-6 leading-6 lg:leading-10 font-semibold tracking-tight m-0
    }

    .hero-h3 {
        @apply text-xl short:text-xl md:text-3xl short:leading-6 leading-6 lg:leading-10 font-semibold tracking-tight
    }

    .textbox {
        @apply rounded-md p-2 border border-gray-200 w-full;
    }
    .invalid {
        @apply outline outline-red-600;
    }
    .hint {
        @apply text-sm font-bold text-red-600;
    }

    .service-cards {
        @apply grid grid-cols-3 grid-rows-2 gap-7;
    }

    .service-card {
        @apply flex flex-col gap-3 items-center text-center px-12 py-9;
    }

    .service-card h3 {
        @apply text-2xl xl:text-3xl leading-tight tracking-tighter font-semibold
    }
}

* {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: "Source Sans Pro";
    font-size: 18px;
}