@import "@fontsource/rubik/700.css";
@import "@fontsource/rubik/800.css";

@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-5xl md:text-6xl font-extrabold tracking-tight;
    }
    h2 {
      @apply text-3xl lg:text-5xl font-extrabold tracking-tight text-center;
    }
    section {
      @apply flex flex-col gap-4 py-6 lg:py-12;
    }
}

@layer components {
    button {
        @apply px-6 py-0 h-12 rounded-md bg-croix text-white text-lg font-semibold;
    }

    section.hero {
        @apply bg-croix block p-0;
    }
    .textbox {
        @apply rounded-sm p-1 border border-gray-200 w-full;
    }
}
* {
    font-family: Inter;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}