@import "@fontsource/rubik/700.css";
@import "@fontsource/rubik/800.css";

@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-5xl md:text-6xl font-extrabold tracking-tight;
    }
    h2 {
      @apply text-3xl lg:text-5xl font-extrabold tracking-tight text-center;
    }
    html {
        scroll-behavior: smooth;
    }
    section {
      @apply  flex flex-col gap-6 py-6 lg:py-12;
    }

    h2[data-autohash]::before {
        @apply block h-10 -mt-10 invisible;
        content: " ";
    }
}

@layer components {
    .button {
        @apply px-6 py-0 h-12 rounded-md text-lg font-semibold;
        @apply transition-colors hover:bg-white;
    }

    .button-icon {
        @apply p-0 h-12 w-12 flex rounded-full justify-center items-center;
    }

    .button-blue {
        @apply bg-croix text-white;
        @apply hover:bg-brand;
    }

    section.hero {
        @apply bg-croix block p-0;
    }
    .textbox {
        @apply rounded-sm p-1 border border-gray-200 w-full;
    }
    .service-card {
        @apply flex flex-col gap-3 items-center text-center w-72;
    }
}
* {
    font-family: Inter;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}